/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:display=swap');

/* common styles and utilities */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/*-----------------------------
         Main css
    ---------------------------- */

/* header css */
header{
    color: #E0E0E0;
    font-weight: 300;
}
    .header-bg{
        background-color:#264653;
    }
        .header-h1{
            font-size: 48px;
            color: #fff;
        }
        .header-h6{
            font-size: 14px;
        }

        .btn-purchase{
            background-color: #E76F51;
            color: white;
            padding: 10 46px;
        }

        .btn-purchase:hover{
            background-color: rgb(148, 99, 9);
            border: 1px solid red;
            color: lightgrey;
        }

/* main css */
main{

}

    .grayscale{
        filter: grayscale(100%);
    }

    .client-section{
        margin: 100px 0;
    }
    .client-review p{
        color:#6C6C6C;
        ;
    }

    .client-review .star, .span-default{
        color: #E76F51;
    }

    .client-review .customer-h6{
        color: #23A6F0;
    }
    .rounded-client{
        height: 149px;
        width: 149px;

        border-radius: 50%;
    }